.banner {
  background: #F8F8F8 url(../../images/bg-img.png) no-repeat right / 804px 412px;
  padding: 64px 0;
}

@media screen and (max-width: 768px) {
  .banner {
    padding: 80px 0;
    background: #F8F8F8 url(../../images/bg-img.png) no-repeat 293px / cover;
  }
}

@media screen and (max-width: 480px) {
  .banner {
    padding: 60px 0;
    background: #F8F8F8 url(../../images/bg-img.png) no-repeat 80px / cover;
  }
}