.mobile-navigation {
  display: none;
}

@media screen and (max-width: 768px) {
  .mobile-navigation {
    display: flex;
    max-width: 215px;
    width: 100%;
    justify-content: space-between;
  }
}

@media screen and (max-width: 480px) {
  .mobile-navigation {
    max-width: 118px;
  }
}