.services__title {
  font-size: 30px;
  font-weight: 600;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .services__title {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.35;
  }
}