.phone {
  text-decoration: none;
  font-weight: 600;
  color: #EE2523;
  transition: opacity .2s linear;
}

.phone:hover {
  opacity: .7;
}

@media screen and (max-width: 768px) {
  .phone {
    display: none;
  }
}