.mobile-navigation__burger-menu {
  padding: 0;
  border: none;
  background: url(../../../images/menu-icon.svg) no-repeat center / cover;
  width: 24px;
  height: 21px;
  cursor: pointer;
  transition: opacity .2s linear;
}

.mobile-navigation__burger-menu:hover {
  opacity: .7;
}