.payment-btn {
  cursor: pointer;
  width: 206px;
  height: 86px;
  padding: 0;
  border: none;
  background: #EE2523;
  color: white;
  border-radius: 8px 0 0 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: fixed;
  top: 542px;
  right: 0;
  font-weight: 600;
  line-height: 1.4;
  transition: opacity .2s linear;
}

.payment-btn:hover {
  opacity: .7;
}